
table {
    border-collapse: collapse;
    width: fit-content;
    margin-left: 0;
    border: 1px solid #000;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #000;
}


body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
h2 {
    color: #333;
    text-align: center;
  }
  
form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
  }
  
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

.error-message {
    color: #ff0000;
  }
  
button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    margin: 40 auto;
}

.back-button {
  display: block; /* Set the anchor tag to behave as a block element */
  text-align: left; /* Center the button horizontally within the container */
  margin-top: 20px; /* Add some top margin to create space between the table and the button */
}


.table-header {
  background-color: #0074D9; /* Blue background color */
  color: #fff; /* White font color */
  padding: 10px; /* Add padding to the header cells for better appearance */
}